.allActivityHead{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.headFont{
    font-size: 1.2em;
}
.allActivityTitle{
    border-bottom: solid 1px #DDDDDD;
}
.checkboxSize{
    width: 20px;
    height: 20px;
}
.headPosition{
    margin-bottom: 15px;
}
.contentPosition{
    margin-top: -10px;
}
.checkboxPosition{
    padding-left: 25px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    /*background-color: #f4511e;*/
    background-color: #07BADA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 5px;*/
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
