body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:350px;
  top:81px;
  width:850px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:350px;
  top:81px;
  width:850px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:408px;
  top:98px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:402px;
  top:169px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:514px;
  top:164px;
  width:270px;
  height:35px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:402px;
  top:238px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:514px;
  top:231px;
  width:270px;
  height:35px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:402px;
  top:296px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:514px;
  top:291px;
  width:270px;
  height:35px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:402px;
  top:361px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:514px;
  top:356px;
  width:270px;
  height:35px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:402px;
  top:429px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:514px;
  top:421px;
  width:596px;
  height:300px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:300px;
}
#u21 {
  position:absolute;
  left:2px;
  top:142px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:402px;
  top:741px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:514px;
  top:741px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25 {
  position:absolute;
  left:514px;
  top:781px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:600px;
  top:781px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:694px;
  top:781px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:700px;
  top:906px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:80px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:80px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:300px;
  top:10px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:981px;
  width:1580px;
  height:80px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:80px;
}
#u38 {
  position:absolute;
  left:2px;
  top:28px;
  width:1576px;
  word-wrap:break-word;
}
